In [2]:
# Libraries for data loading, data manipulation and data visulisation
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from seaborn import pairplot
%matplotlib inline

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
df = pd.read_csv("insurance_claims_cleaned_for_analysis.csv")

In [4]:
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,41929.0,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,38895.0,IN,250/500,2000,1197.22,5000000,468176,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,36775.0,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,33018.0,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,41796.0,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [5]:
df.describe()

,months_as_customer,age,policy_number,policy_bind_date,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,capital-gains,capital-loss,incident_date,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,203.954000,38.961000,546238.648000,37295.195000,1134.000000,1256.841033,1.101000e+06,501214.488000,25126.100000,-26793.700000,42034.335000,11.644000,1.83900,0.992000,1.487000,52761.94000,7433.420000,7399.570000,37928.950000,2005.103000
std,115.113174,9.126378,257063.005276,2687.464969,610.669237,244.174296,2.297407e+06,71701.610941,27872.187708,28104.096686,17.235482,6.951373,1.01888,0.820127,1.111335,26401.53319,4880.951853,4824.726179,18886.252893,6.015861
min,0.000000,19.000000,100804.000000,32881.000000,500.000000,433.330000,-1.000000e+06,430104.000000,0.000000,-111100.000000,42005.000000,0.000000,1.00000,0.000000,0.000000,100.00000,0.000000,0.000000,70.000000,1995.000000
25%,115.750000,32.000000,335980.250000,34961.000000,500.000000,1090.247500,0.000000e+00,448404.500000,0.000000,-51500.000000,42019.000000,6.000000,1.00000,0.000000,1.000000,41812.50000,4295.000000,4445.000000,30292.500000,2000.000000
50%,199.500000,38.000000,533135.000000,37347.500000,1000.000000,1258.425000,0.000000e+00,466445.500000,0.000000,-23250.000000,42035.000000,12.000000,1.00000,1.000000,1.000000,58055.00000,6775.000000,6750.000000,42100.000000,2005.000000
75%,276.250000,44.000000,759099.750000,39559.500000,2000.000000,1415.695000,0.000000e+00,603251.000000,51025.000000,0.000000,42050.000000,17.000000,3.00000,2.000000,2.000000,70592.50000,11305.000000,10885.000000,50822.500000,2010.000000
max,479.000000,64.000000,999435.000000,42057.000000,2000.000000,2047.590000,1.000000e+07,620962.000000,100500.000000,0.000000,42064.000000,23.000000,4.00000,2.000000,3.000000,114920.00000,21450.000000,23670.000000,79560.000000,2015.000000

In [6]:
df['fraud_reported_numeric'] = df['fraud_reported'].map({'Y': 1, 'N': 0})

In [7]:
df_new = df.copy()

In [8]:
bin_edges = [0, 30, 55, 100]  # Define the bin edges
bin_labels = ['Young Adult', 'Middle Aged', 'Elderly']  # Corresponding labels for each bin

# Create a new column based on the bin labels
df_new['ages_category'] = pd.cut(df_new['age'], bins=bin_edges, labels=bin_labels)

In [9]:
bin_edges_customer = [0, 25, 150, 500]  # Define the bin edges
bin_labels_customer = ['New Client', 'Established Client', 'Long-Term Client']  # Corresponding labels for each bin

# Create a new column based on the bin labels
df_new['customer_category'] = pd.cut(df_new['months_as_customer'], bins=bin_edges_customer, labels=bin_labels_customer)

In [10]:
df_new["Contract Years"] = df_new["months_as_customer"]/12

In [11]:
df_new['total_premiums_paid'] = (df_new['policy_annual_premium']/12) * df_new['months_as_customer']

In [12]:
df_new['net_value_of_customer'] = df_new['total_premiums_paid'] - df_new['total_claim_amount']

In [13]:
df_new.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,auto_make,auto_model,auto_year,fraud_reported,fraud_reported_numeric,ages_category,customer_category,Contract Years,total_premiums_paid,net_value_of_customer
0,328,48,521585,41929.0,OH,250/500,1000,1406.91,0,466132,...,Saab,92x,2004,Y,1,Middle Aged,Long-Term Client,27.333333,38455.540000,-33154.460000
1,228,42,342868,38895.0,IN,250/500,2000,1197.22,5000000,468176,...,Mercedes,E400,2007,Y,1,Middle Aged,Long-Term Client,19.000000,22747.180000,17677.180000
2,134,29,687698,36775.0,OH,100/300,2000,1413.14,5000000,430632,...,Dodge,RAM,2007,N,0,Young Adult,Established Client,11.166667,15780.063333,-18869.936667
3,256,41,227811,33018.0,IL,250/500,2000,1415.74,6000000,608117,...,Chevrolet,Tahoe,2014,Y,1,Middle Aged,Long-Term Client,21.333333,30202.453333,-33197.546667
4,228,44,367455,41796.0,IL,500/1000,1000,1583.91,6000000,610706,...,Accura,RSX,2009,N,0,Middle Aged,Long-Term Client,19.000000,30094.290000,23594.290000

In [14]:
df_new['Positive_Net_Value'] = df_new['net_value_of_customer'].apply(lambda x: 'Y' if x > 0 else 'N')

In [15]:
df_new.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,auto_model,auto_year,fraud_reported,fraud_reported_numeric,ages_category,customer_category,Contract Years,total_premiums_paid,net_value_of_customer,Positive_Net_Value
0,328,48,521585,41929.0,OH,250/500,1000,1406.91,0,466132,...,92x,2004,Y,1,Middle Aged,Long-Term Client,27.333333,38455.540000,-33154.460000,N
1,228,42,342868,38895.0,IN,250/500,2000,1197.22,5000000,468176,...,E400,2007,Y,1,Middle Aged,Long-Term Client,19.000000,22747.180000,17677.180000,Y
2,134,29,687698,36775.0,OH,100/300,2000,1413.14,5000000,430632,...,RAM,2007,N,0,Young Adult,Established Client,11.166667,15780.063333,-18869.936667,N
3,256,41,227811,33018.0,IL,250/500,2000,1415.74,6000000,608117,...,Tahoe,2014,Y,1,Middle Aged,Long-Term Client,21.333333,30202.453333,-33197.546667,N
4,228,44,367455,41796.0,IL,500/1000,1000,1583.91,6000000,610706,...,RSX,2009,N,0,Middle Aged,Long-Term Client,19.000000,30094.290000,23594.290000,Y

In [17]:
df_new.to_csv('Advanced Features Claims Data.csv')